@charset "UTF-8";
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", "Noto Sans Japanese", sans-serif;
  background-color: #f5f5f5;
}

.cf:after, .row:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.cf, .row {
  display: inline-table;
  min-height: 1%;
}

* html .cf, * html .row {
  height: 1%;
}

.cf {
  display: block;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1420px;
}

.announce {
  border: 1px solid #23374D;
}

.recruit {
  border: 1px solid #da3c41;
}

.fav-btn {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 25px;
  cursor: pointer;
}

.fav-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "★";
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #333;
  transition: all 0.3s;
}

.fav-btn.active::before {
  color: #ecde34;
}

.header-navbar {
  height: 64px;
  background: #23374D;
}

.header-brand {
  display: inline-block;
  padding: 0px 37px;
}

.header-brand a {
  width: auto;
  height: auto;
  color: #E5E5E5;
  font-size: 30px;
  line-height: 64px;
}

.header-nav-box {
  float: right;
  line-height: 64px;
}

.header-nav {
  display: flex;
}

.nav-item a {
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
}

.dashboard {
  padding: 40px 0px;
}

.no-content {
  text-align: center;
  font-size: 26px;
  width: 100%;
  padding: 150px 0;
}

.no-content p {
  margin-bottom: 20px;
}

.create-new {
  width: 336px;
  height: 52px;
  background: #1089FF;
  border-radius: 10px;
  text-align: center;
}

.create-new a {
  display: inline-block;
  width: 100%;
  height: auto;
  font-size: 20px;
  line-height: 52px;
  color: #E5E5E5;
}

.create-new-first {
  width: 336px;
  height: 52px;
  background: #1089FF;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}

.create-new-first a {
  display: inline-block;
  width: 100%;
  height: auto;
  font-size: 20px;
  line-height: 52px;
  color: #E5E5E5;
}

.filters {
  padding: 20px 0px;
}

.filters a {
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.filters a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.sort-btn.active {
  text-decoration: underline;
  font-weight: bold;
}

.article-wrapper {
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.article-box {
  position: relative;
  width: 300px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 0 30px 20px;
}

.article-box:nth-child(4n) {
  margin: 0 0 20px 30px;
}

.article-box:nth-child(1):nth-child(4n+1) {
  margin: 0 30px 20px 0;
}

.article-type {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
}

.article-type p {
  border-radius: 5px;
  padding: 5px 10px;
}

.article-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}

.article-link:hover {
  color: #333;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.article-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.article-header p {
  display: inline-block;
  width: auto;
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}

.article-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 16px;
  padding: 0 5px;
}

.article-views {
  position: absolute;
  bottom: 0;
  right: 0;
}

.article-text {
  width: 100%;
  height: auto;
  padding: 50px 10px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.article-time {
  margin-bottom: 20px;
}

.article-time p {
  font-size: 20px;
}

.create-wrapper {
  width: 850px;
  height: auto;
  margin: 0 auto;
  padding: 200px 0;
}

.select-box {
  position: relative;
}

.label {
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
}

.label input {
  position: relative;
  top: -0.5rem;
  margin-right: 15px;
  cursor: pointer;
  outline: none;
}

.label input::before, .label input::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  content: '';
  transition: all 0.4s ease-in-out;
  border: 2px solid #da3c41;
  background: #ffffff;
}

.label input::after {
  z-index: 0;
  border: none;
}

.label input:checked::before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #da3c41;
}

.select-type {
  margin-bottom: 20px;
}

.title-board {
  width: 100%;
  height: 35px;
  font-size: 20px;
  letter-spacing: 1.4px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.title-board:hover {
  transition: all 0.3s;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.title-board:focus {
  outline: none;
  transition: all 0.3s;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.text-board {
  width: 100%;
  height: 400px;
  font-size: 20px;
  letter-spacing: 1.4px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.text-board:hover {
  transition: all 0.3s;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.text-board:focus {
  outline: none;
  transition: all 0.3s;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.select-time p {
  font-size: 24px;
}

.time-set {
  font-size: 24px;
  margin-right: 20px;
}

.time-set input {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  font-size: 24px;
}

.time-set input:hover {
  transition: all 0.3s;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.time-set input:focus {
  outline: none;
  transition: all 0.3s;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.submit-btn {
  float: right;
  width: 186px;
  height: 64px;
  border-radius: 10px;
  background-color: #1089FF;
  font-size: 24px;
  color: #E5E5E5;
  cursor: pointer;
}
